header {
  position: fixed;
  top: 2rem;
  left: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;

  z-index: 10;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'cinzel';
  src: url(../src/assets/fonts/Cinzel/Cinzel-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'coro';
  src: url(../src/assets/fonts/Cormorant_Garamond/CormorantGaramond-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'coro bold';
  src: url(../src/assets/fonts/Cormorant_Garamond/static/CormorantGaramond-Bold.ttf);
}

@font-face {
  font-family: 'semi coro';
  src: url(../src/assets/fonts/Cormorant_Garamond/static/CormorantGaramond-SemiBold.ttf);
}

@font-face {
  font-family: 'eb';
  src: url(../src/assets/fonts/EB_Garamond/static/EBGaramond-Regular.ttf);
}

@font-face {
  font-family: 'eb med';
  src: url(../src/assets/fonts/EB_Garamond/static/EBGaramond-Medium.ttf);
}


menu {
  height: 100%;

  display: flex;
  align-items: center;

  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

menu p {
  color: #CBAE67;
  font-family: 'cinzel';
}
menu a {
  color: #E7D7A1;
  font-size: 1.75rem;
  font-family: 'cinzel';
  text-decoration: none;
  letter-spacing: -1px;
}

menu p:hover,
menu a:hover {
  opacity: 0.5;
}

div.sep {
  width: 12.5px;
  height: 12.5px;
  rotate: 45deg;
  border:  2px solid #CBAE67;
}



.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.75;
}
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0 0rem 0;

}
.socials img {
  height: 50px;
  width: unset !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials img:hover {
  opacity: 1;
}

.hero_content {
  width: 600px;

  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0 0 0;

  background: linear-gradient(to top, black, transparent);
  width: 100%;
  height: 100%;
}


.hero_content h1 {
  font-family: 'coro';
  font-size: 8rem;
  color: #E7D7A1;
  line-height: 100%;
}

.hero_content p {
  font-family: 'cinzel';
  font-size: 2rem;
  color: #E7D7A1;
  margin: 0 0 3rem 0;
}


.hero_content button {

  padding: 0.4rem 0rem;
  width: 325px;
  font-size: 2.25rem;

  border: 2px solid #CBAE67;
  background-color: rgb(203, 174, 103, 0.1);

  position: relative;


  z-index: 1;
  font-family: 'semi coro';

  color: #E7D7A1;
}

.hero_content button:hover {
  background-color: rgb(203, 174, 103, 0.2);

}

.hero_content button::after {

  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: -7.5px;
  left: -7.5px;

  border: 2px solid rgb(203, 174, 103, .2);
  z-index: -1;

}

.section_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6rem 20%;

  position: relative;
}

.section_wrapper h1 {
  text-align: center;
  font-size: 5rem;
  font-family: 'coro';
  color: #E7D7A1;
}

.section_wrapper p {
  text-align: center;
  font-family: 'eb';
  font-size: 2rem;
  color: #E7D7A1;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}

.section_wrapper .story_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.section_wrapper .story_wrapper iframe {
  width: 100%;
  height: 100%;
}

.story_wrapper img.sep {
  width: 600px;
  height: 100px;
  object-fit: cover;
  transform: translate(15px,0);
}


.video {
  width: 100%;
  height: unset;
  aspect-ratio: 3/2;
  background-color: rgb(255, 255, 255, .2);
}



.about_us {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 2rem;
}


.about_us .about_text {
  width: 50%;
}
.about_us .about_text p {
  text-align: left;
}

.about_us .about_img {
  width: 50%;
  height: 750px;
  background-color: rgb(255, 255, 255, .2);
}
.about_us .about_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}




footer {
  width: 100%;
  padding: 2rem 0;
  background-color: rgb(255, 255, 255, .1);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer p {
  font-family: 'eb med';

  font-size: 1.5rem;
  color: #E7D7A1;
}




@keyframes popup {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}

.new_update_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;
  position: fixed;

  top: 0;
  left: 0;

  background-color: rgb(0, 0, 0, 0.25);
  z-index: 20;

}

.new_update_wrapper .new_update {
  width: 500px;
  background-color: rgb(0, 0, 0, .75);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 6rem 3.5rem 5rem 3.5rem;
  gap: 1rem;

  position: relative;

  backdrop-filter: blur(10px);
  animation: popup 0.2s ease-in-out;

}

.new_update .border {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  right: 1.5rem;
  bottom: 1.5rem;
  border: 1px solid rgb(255, 215, 0, .2);
}

.new_update h1 {
  text-align: center;
  font-size: 3rem;
  font-family: 'coro';
  color:gold;
  line-height: 100%;
}

.new_update .image {
  width: 100%;
  height: 120px;
  background-color: rgb(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
}

.new_update p {
  text-align: left;
  font-size: 1.1rem;
  font-family: 'eb';
  color: #fff;
}

.new_update .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.new_update .image p {
  text-align: center;
  font-size: 2rem;
  font-family: 'coro';
  color: #fff;
  line-height: 100%;
}

.new_update img.seperator {
  width: 60%;
}

.new_update .x {
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  color: gold;

  z-index: 1;
  font-family: 'coro';
  font-size: 4rem;
  line-height: 20%;
  rotate: 45deg;
}

.new_update .x:hover {
  opacity: 0.5;
}









.login {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #282828;
  gap: 10px;

}
.login .login_widget {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  max-width: 375px;

}

.login .login_widget input{
  height: 45px;
  width: 100%;
  padding: 0 0.5rem;
  border: 0;
  border: 2px solid rgb(255, 255, 255, .2);
  background-color: rgb(51, 51, 51);

  font-size: 1.1rem;
}
.inp {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.inp label {
  width: 100%;
  text-align: left;
}

.inp textarea {
  height: 100px;
  width: 100%;
  padding: 0.5rem;
  border: 0;
  border: 2px solid rgb(255, 255, 255, .2);
  background-color: rgb(51, 51, 51);

  font-size: 1.1rem;
}

.login button {
  height: 45px;
  width: 100%;
  padding: 0 0.5rem;
  border: 0;
  background-color: goldenrod;
  color: black;
  font-size: 1.1rem;
  font-weight: bold;

  margin-top: 10px;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login button .load {
  width: 20px;
  height: 20px;
  border: 4px solid white;
  border-left: 4px solid transparent;
  position: absolute;
  right: 1rem;
  border-radius: 100px;

  animation: load 0.5s infinite linear;

}

@keyframes load {
  100% {
    transform: rotate(360deg);
  }
}

.login button:hover {opacity: 0.75;}

input:focus {
  outline: none ;
}

textarea:focus {
  outline: none !important;
}

.login h1 {
  margin-top: -25px;
  font-weight: normal;
}

.submission {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 70px;
}
.submit {
  aspect-ratio: 1/1;
  background-color: #CBAE67;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'coro bold';
  font-family: 'semi coro';
  font-family: 'eb';
}
.submit p {
  rotate: 90deg;
  font-size: 4rem;
  color: black;

  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(0px, 5px);
  line-height: 100%;
}

input.newsletter {

  padding: 0rem 1.5rem;
  width: 90%;
  height: 100%;
  max-width: 500px;
  font-size: 2rem;

  border: 2px solid #CBAE67;
  background-color: rgb(203, 174, 103, 0.1);

  position: relative;

  z-index: 1;
  font-family: 'semi coro';

  color: #E7D7A1;
}

input.newsletter:focus {
  border: 2px solid white;
  outline: none !important;
}

input.newsletter::placeholder {
  color: rgb(231, 215, 161,);
}

/* admin_panel */
.admin_panel {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: start;
  justify-content: start;

  position: fixed;
  top: 0;
  left: 0;

  background-color: #333333;
}

.admin_panel .side_bar {
  width: 325px;
  height: 100%;
  background-color: rgb(255, 255, 255, .15);
  background-color: #282828;
  background-color: #202020;
  padding: 2rem 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1.5rem;

}

.admin_panel .side_bar h1 {
  font-family: 'coro bold';
  font-size: 2rem;
  color: #fff;
  line-height: 100%;
  width: 100%;
  text-align: center;
}
.admin_panel .side_bar ul {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.admin_panel .side_bar ul li {
  width: 100%;
  height: 40px;
  background-color: rgb(255, 255, 255, .1);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}
.admin_panel .side_bar ul li p {
  width: 100%;
}
.admin_panel .side_bar ul li.active {
  border-left: 3px solid gold;
}

.admin_panel .side_bar ul li:hover {
  opacity: 0.75;
}

.logged_in_as {
  margin-top: auto;
}
.logged_in_as button {
  width: 100%;
  height: 40px;
  background-color: rgb(168, 34, 34);
  border: 0;
  margin: 10px 0 0 0;
  font-weight: bold;
}
.logged_in_as button:hover {
  opacity: 0.75;
}


/* panel_content */
.panel_content {
  flex-grow: 1;
  height: 100%;
  padding: 3rem 2rem;

  overflow-y: scroll;
}

.panel_content h1 {
  font-weight: normal;
  font-size: 1.75rem;
}


.panel_content .panel {
  padding: 1rem 0 0 0;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 1.5rem;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  width: 100%;

}

.filter button {
  padding: 8px 16px; 
  font-size: .9rem;
  font-weight: bold;
  border: 0;
  background-color: goldenrod;
  color: #000;
}
.filter button:hover {
  opacity: 0.75;
}

.panel_content .panel.mailing_list .emails_wrapper {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 5px;
}
  .panel_content .panel.mailing_list .email {
  /* background-color: rgb(40, 40, 40, .5); */
  /* padding: 8px 16px; */
}

.line {
  width: 100%;
  height: 2px;
  background-color: #282828;
  border-radius: 100px;
}


.site_content .site_inputs {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1rem;
  width: 600px;
}
.site_content .site_inputs label {
  width: 100%;
  text-align: left;

  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
}
.site_content .site_inputs label button {
  background-color: goldenrod;
  padding: 2.5px 5px;
  border: 0;
  color: black;
  font-weight: 600;
}

.site_content .site_inputs label button:hover {
  opacity: 0.75;
}


.inp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
}

.site_content .site_inputs input[type="text"] {
  height: 45px;
  width: 100%;
  padding: 0 0.5rem;
  border: 0;
  border: 2px solid rgb(255, 255, 255, .2);
  background-color: rgb(51, 51, 51);

  font-size: 1.1rem;
}

.site_content .site_inputs input:focus {
  outline: none !important;
}




.radio-option {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 8px;
  gap: 8px;
}

.radio-option input[type="radio"] {
  appearance: none;
  min-width: 24px;
  min-height: 24px;
  border: 2px solid #555;
  position: relative;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease;

  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-option input[type="radio"]:checked {
  border-color: goldenrod;
  background-color: transparent;
}

.radio-option input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 70%;
  background-color: goldenrod;
}

.radio-label {
  font-size: 1rem;
  color: #fff;
}



.section_wrapper.credits {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6rem 15%;
}

.section_wrapper .credits_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.credits_wrapper img {
  width: 600px;
  height: 100px;
  object-fit: cover;
  transform: translate(15px,0);
}


table {
  width: 100%;
  border-collapse: collapse;
  background: rgb(255, 255, 255, 0.1);
}

thead {
  background-color: #CBAE67;
  color: black;
  font-size: 1.4rem;
}

th {
  padding: 12px 16px;
  text-align: left;
  font-size: 1.75rem;
  font-family: 'coro bold';
  text-transform: uppercase;
}

td {
  padding: 12px 16px;
  text-align: left;
  font-family: 'eb';
  font-size: 1.5rem;
}

tr:nth-child(even) {
  background: rgb(255, 255, 255, 0.1);
}

a {
  color: #4a90e2;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}




.burger {
  width: 50px;
  height: 47px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgb(0, 0, 0, 0.5);
  padding: 10px;
}

.burger .line {
  width: 100%;
  height: 3px;

  background-color: #E7D7A1;
}
.mobile_menu {
  display: none;
}

.mob_popup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100svh;
  gap: 1rem;
}

.mob_popup a {
  color: #E7D7A1;
  font-size: 2rem;
  font-family: 'cinzel';

  text-decoration: none;
}

.mob_popup a:nth-child(9) {
  display: none;
}

.mob_popup .x {
  position: absolute;
  top: -0.5rem;
  right: 2rem;
  color: white;
  font-family: 'cinzel';
  font-size: 6rem;
  rotate: 45deg;
}


@media only screen and (max-width: 900px) {
  .mobile_menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
  }
  .mobile_menu p {
    font-family: 'coro';
    font-size: 1.5rem;
    color: #E7D7A1;
    line-height: 100%;
  }
  
  menu {
    display: none;
  }

  .credits_wrapper img,
  .story_wrapper img.sep
  {
    width: 100%;
  }

  .story_wrapper h1 {
    font-size: 3rem;
  }

  .video {
    width: 100%;
    height: unset;
    aspect-ratio: 3/2;
  }

  .section_wrapper p {
    font-size: 1.3rem;
  }

  .about_us {
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  .about_us .about_text {
    width: 100%;
  }
  .about_us .about_img {
    width: 100%;
    height: 750px;
    margin: 0;
    padding: 0;

  }
    
  .section_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem 5%;
  }
  .section_wrapper h1 {
    font-size: 3rem;
  }

  menu a {
    color: #CBAE67;
    font-size: 1.25rem;
    font-family: 'cinzel';
  }

  .hero_content h1 {
    font-size: 4rem;
    line-height: 100%;
  }
  
  .hero_content p {
    font-size: 1.5rem;
    margin: 0 0 3rem 0;
    text-align: center;
  }
  
  

  .section_wrapper.credits {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
  }





  table {
    border-collapse: collapse;
    background: rgb(255, 255, 255, 0.1);
    overflow: hidden;
  }

  thead {
    background-color: #CBAE67;
    color: black;
    font-size: 0.7rem;
  }

  th {
    padding: 12px 16px;
    text-align: left;
    font-size: 1rem;
    font-family: 'coro bold';
    text-transform: uppercase;
  }

td {
  padding: 12px 16px;
  text-align: left;
  font-family: 'eb';
  font-size: .7rem;
}
}