:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
}


.root:hover {
  cursor: url('/public/cursor.png'), auto !important;
}

*:hover {
  cursor: url('/public/cursor.png'), auto !important;
}




.shinybg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.2;
  user-select: none;
  pointer-events: none;
}


.music {
  width: 60px;
  height: 60px;
  background-color: #E7D7A1;
  bottom: 1rem;
  left: 1rem;

  position: fixed;
  border-radius: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}